body {
    width: 1000px;
    margin: 11px auto;
    background-color: rgb(179, 179, 179);;
    font-size: 30px;
}
header {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
header a {
    text-decoration: none;
    text-decoration-color: none;
    color: black;
}
nav {
    margin-left: 200px;
    text-align: center;
}
nav a {
    font-size: 30px;
    color: black;
    text-decoration: none;
}
nav a:hover {
    background:silver;
    color: black;
}

a.reg {
	color: #fff;
	user-select: none; /* Убираем текстовое выделение */
	text-decoration: none;	/* Убираем подчеркивание */
	background-color: silver; /* Цвет фона */
    padding: 0.3em 0.3em; /* Отступ от текста до рамки */
    outline: 2px solid;
    margin-left: 100px;;
}
a.reg:active {
	background-color: rgb(179, 179, 179); ; /* Цвет кнопки при нажатии */
}
a.reg:hover {
	background-color: silver; /* Цвет кнопки при наведении курсора */
}