body {
    width: 1000px;
    margin: 11px auto;
    background: linear-gradient(to right, purple, red, purple);
    font-size: 30px;
}
header {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
header a {
    text-decoration: none;
    text-decoration-color: none;
    margin: 0.5em 0 0.5em 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative; 
    font-size: 36px;
    line-height: 40px;
    color: black;
}
nav {
    margin-left: 200px;
    text-align: center;
}
nav a {
    font-style: italic;
    font-size: 30px;
    color: black;
    text-decoration: none;
    padding: 0.1em 0.2em;
}
nav a:hover {
    background:silver;
    color: black;
    background: radial-gradient(red, purple);
    padding: 0.1em 0.2em;
    border-radius: 5px;

}

a.reg {
	color: #fff;
	user-select: none; /* Убираем текстовое выделение */
	text-decoration: none;	/* Убираем подчеркивание */
    margin-left: 100px;
}